
@{
    ViewBag.Title = "Painel do Usuario";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Tarefa: Levantar Imposto X e Enviar Cliente </h3>
                    <h2> DIA 13 - CONCLUÍDO</h2>
                    <div class="progress progress-mini">
                        <div style="width: 100%;" class="progress-bar progress-bar-success progress-bar-striped active"></div>
                    </div>
                    <div class="m-t-sm small">100% - Concluido dia 10/06/2018</div>
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox3" type="checkbox" checked="">
                                    <label for="checkbox3">
                                        10/10/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">1</span> Tarefa 1
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox4" type="checkbox" checked="">
                                    <label for="checkbox4">
                                        10/10/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">2</span> Tarefa 2
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox5" type="checkbox" checked="">

                                    <label for="checkbox5">
                                        10/10/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">3</span> Tarefa 3
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox6" type="checkbox" checked="">

                                    <label for="checkbox6">
                                        10/10/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">4</span> Tarefa 4
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox7" type="checkbox" checked="">

                                    <label for="checkbox7">
                                        10/10/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">5</span> Tarefa 5
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Tarefa: Apurar ISS e Enviar Cliente </h3>
                    <h2> DIA 17 - Próx. Limite</h2>
                    <div class="progress progress-mini">
                        <div style="width: 60%;" class="progress-bar progress-bar-warning progress-bar-striped active"></div>
                    </div>
                    <div class="m-t-sm small">60%</div>
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox3" type="checkbox" checked="">
                                    <label for="checkbox3">
                                        12/10/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">1</span> Tarefa 1
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox4" type="checkbox" checked="">
                                    <label for="checkbox4">
                                        12/10/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">2</span> Tarefa 2
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox5" type="checkbox" checked="">
                                    <label for="checkbox5">
                                        12/10/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">3</span> Tarefa 3
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox6" type="checkbox">
                                    <label for="checkbox6">
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">4</span> Tarefa 4
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox7" type="checkbox">
                                    <label for="checkbox7">
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">5</span> Tarefa 5
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Tarefa: Apurar GPS e Enviar Cliente </h3>
                    <h2 style="color:red"> DIA 14 - Atraso 1 dia</h2>
                    <div class="progress progress-mini">
                        <div style="width:20%;" class="progress-bar progress-bar-danger progress-bar-striped active"></div>
                    </div>
                    <div class="m-t-sm small">60%</div>
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox3" type="checkbox" checked="">

                                    <label for="checkbox3">
                                        11/06/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">1</span> Tarefa 1
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox4" type="checkbox">
                                    <label for="checkbox4">

                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">2</span> Tarefa 2
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox5" type="checkbox">
                                    <label for="checkbox5">

                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">3</span> Tarefa 3
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox6" type="checkbox">
                                    <label for="checkbox6">
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">4</span> Tarefa 4
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox7" type="checkbox">
                                    <label for="checkbox7">
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">5</span> Tarefa 5
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Tarefa: Enviar Holerites para Cliente </h3>
                    <h2 style="color:red"> DIA 4 - Atraso 10 dias</h2>
                    <div class="progress progress-mini">
                        <div style="width:20%;" class="progress-bar progress-bar-danger progress-bar-striped active"></div>
                    </div>
                    <div class="m-t-sm small">60%</div>
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox3" type="checkbox" checked="">
                                    <label for="checkbox3">
                                        11/06/2018
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">1</span> Tarefa 1
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox4" type="checkbox">
                                    <label for="checkbox4">
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">2</span> Tarefa 2
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox5" type="checkbox">
                                    <label for="checkbox5">
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">3</span> Tarefa 3
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox6" type="checkbox">
                                    <label for="checkbox6">
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">4</span> Tarefa 4
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right" style="margin-top: -12px; ">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox7" type="checkbox">
                                    <label for="checkbox7">
                                    </label>
                                </div>
                            </span>
                            <span class="label label-default">5</span> Tarefa 5
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Documentos Pendentes / Processados pelo seu setor (HOJE)</h5>
                    <h2>12/40</h2>
                    <div class="text-center">
                        <div id="sparkline6"><canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Documentos Pendentes / Processados pelo seu setor (MÊS)</h5>
                <h2>120/200</h2>
                <div class="text-center">
                    <div id="sparkline5"><canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Documentos Pendentes setor/ Processados por você (HOJE)</h5>
                    <h2>7/40</h2>
                    <div class="text-center">
                        <div id="sparkline7"><canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Documentos Pendentes Setor/ Processados por você (MÊS)</h5>
                    <h2>40/200</h2>
                    <div class="text-center">
                        <div id="sparkline8"><canvas width="140" height="140" style="display: inline-block; width: 140px; height: 140px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
 


</div>

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/sparkline")
@Scripts.Render("~/plugins/iCheck")
@Scripts.Render("~/plugins/dataPicker")
@Scripts.Render("~/plugins/ionRange")
@Scripts.Render("~/plugins/nouiSlider")
@Scripts.Render("~/plugins/jasnyBootstrap")
@Scripts.Render("~/plugins/switchery")
@Scripts.Render("~/plugins/chosen")
@Scripts.Render("~/plugins/knob")
@Scripts.Render("~/plugins/imagecropper")
@Scripts.Render("~/plugins/colorpicker")
@Scripts.Render("~/plugins/clockpicker")
@Scripts.Render("~/plugins/dateRange")
@Scripts.Render("~/plugins/select2")
@Scripts.Render("~/plugins/touchSpin")
@Scripts.Render("~/plugins/tagInputs")
@Scripts.Render("~/plugins/duallist")



    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#233646',
                fillColor: "#ffffff"
            });

            $("#sparkline2").sparkline([12,50], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#233646',
                fillColor: "#ffffff"
            });

            $("#sparkline3").sparkline([74, 43, 23, 55, 54, 32, 24, 12], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#ed5565',
                fillColor: "#ffffff"
            });

            $("#sparkline4").sparkline([24, 43, 33, 55, 64, 72, 44, 22], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#ed5565',
                fillColor: "#ffffff"
            });

            $("#sparkline5").sparkline([120, 200], {
                type: 'pie',
                height: '140',
                sliceColors: ['#233646', '#F5F5F5']
            });

            $("#sparkline6").sparkline([12, 40], {
                type: 'pie',
                height: '140',
                sliceColors: ['#233646', '#F5F5F5']
            });

            $("#sparkline8").sparkline([40, 200], {
                type: 'pie',
                height: '140',
                sliceColors: ['#233646', '#F5F5F5']
            });

            $("#sparkline7").sparkline([7, 40], {
                type: 'pie',
                height: '140',
                sliceColors: ['#233646', '#F5F5F5']
            });
        
        });
    </script>
}

